// ------------------------------ Fonts ------------------------------

@font-face {
    font-family: "Albra";
    src: url(../Assets/Fonts/Albra/Albra-Light.otf);
}

// ------------------------------ Variables ------------------------------

:root {
    /* Colors */
    --red: #C0263F;
    --grey-darkest: #000103;
    --grey-dark: #333138;
    --grey-medium: #515052;
    --grey-light: #C5C5C3;
    --white: #FFFFFA;
    --orange: #FF9D2E;
    --yellow: #F6FF2E;

    /* Font type */
    --header-font: 'Albra';
}

// ------------------------------ Base ------------------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    margin: auto;
}

body {
    font-family: agenda, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--grey-light);
    background: linear-gradient(90deg, var(--grey-darkest) 0%, var(--grey-dark) 100%);
}

// ------------------------------ Fonts ------------------------------

h1 {
    font-family: var(--header-font);
    font-style: normal;
    font-weight: 400;
    color: var(--orange);
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--red);
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--white);
}

li a {
    margin-right: 2em;
}

// ------------------------------ Reusable classes ------------------------------

.wrapper {
    padding: 1em;
}

.cta {
    display: block;
    padding: 1em 1em 1em 0;
}

img {
    width: 100%;
    max-width: 400px;
    clip-path: polygon(0 0, 100% 0, 0 0);
    border-radius: 16px;
    box-shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.35);
}

ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li {
    transform: scaleY(0);
    background: linear-gradient(90deg, var(--grey-darkest) 0%, var(--grey-dark) 100%);
    width: 20%;
}